frontend/admin-portal/TODO.md
/images
frontend/admin-portal/TODO.md
/backend/Microservices/ParseImageService/training_sandbox
backend/Microservices/.idea/.idea.Microservices/.idea/encodings.xml
backend/Microservices/.idea/.idea.Microservices/.idea/indexLayout.xml
backend/Microservices/.idea/.idea.Microservices/.idea/vcs.xml
backend/Microservices/Gateway/obj/Debug/net8.0/Gateway.AssemblyInfo.cs
backend/Microservices/Gateway/obj/Debug/net8.0/Gateway.AssemblyInfo.cs
backend/Microservices/Gateway/obj/Debug/net8.0/Gateway.AssemblyInfo.cs
backend/Microservices/Gateway/obj/Debug/net8.0/Gateway.AssemblyInfoInputs.cache
backend/Microservices/Gateway/obj/Debug/net8.0/Gateway.assets.cache
backend/Microservices/Gateway/obj/Debug/net8.0/Gateway.AssemblyInfoInputs.cache
backend/Microservices/Gateway/obj/Gateway.csproj.nuget.dgspec.json
backend/Microservices/Gateway/obj/Gateway.csproj.nuget.dgspec.json
backend/Microservices/Gateway/obj/Debug/net8.0/Gateway.GeneratedMSBuildEditorConfig.editorconfig
backend/Microservices/Gateway/obj/Debug/net8.0/Gateway.AssemblyInfo.cs
backend/Microservices/UserService/obj/rider.project.restore.info
backend/Microservices/UserService/obj/UserService.csproj.nuget.g.props
backend/Microservices/UserService/obj/UserService.csproj.nuget.dgspec.json
backend/Microservices/UserService/obj/rider.project.model.nuget.info
backend/Microservices/UserService/obj/project.packagespec.json
backend/Microservices/UserService/obj/project.nuget.cache
backend/Microservices/UserService/obj/project.nuget.cache
backend/Microservices/UserService/obj/project.assets.json
backend/Microservices/UserService/obj/Debug/net8.0/UserService.GeneratedMSBuildEditorConfig.editorconfig
backend/Microservices/UserService/obj/Debug/net8.0/UserService.csproj.AssemblyReference.cache
backend/Microservices/UserService/obj/Debug/net8.0/UserService.assets.cache
backend/Microservices/ShelfsService/obj/rider.project.restore.info
backend/Microservices/ShelfsService/obj/rider.project.model.nuget.info
backend/Microservices/ShelfsService/obj/project.packagespec.json
/backend/Microservices/Gateway/obj/Debug
/backend/Microservices/Gateway/obj/Debug
/backend/Microservices/Gateway/obj/Debug
