.right-sidebar-content {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  height: 100%;
}

.sidebar-img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 4px;
  transition: opacity 0.2s;
}

.sidebar-img:hover {
  opacity: 0.8;
}
